html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='https://maps.googleapis.com/maps/api/js?').
    script(type='text/javascript').
      function initialize(){
      var centerLat = new google.maps.LatLng(30.155706, -85.661574);
      var mapOptions = {
      center: centerLat,
      zoom: 15,
      };
      var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
      var marker = new google.maps.Marker({
        position: centerLat
      });
      marker.setMap(map);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    //- p= title
    div#map-canvas    
    p
      img#menu(src='https://scontent-mia1-1.xx.fbcdn.net/hphotos-xfa1/t31.0-8/12244633_1058017660897973_7823212623433454656_o.jpg')
      img#menu(src='https://scontent.fhsv1-1.fna.fbcdn.net/hphotos-xfa1/t31.0-8/12244633_1058017660897973_7823212623433454656_o.jpg')
    
