extends layout

block content
  h1= title
  p 
    h2 Contact
  p
    h3 Phone: 850-215-0425
    h3 Email: moseysdowntown@gmail.com
    h3 Address: 425 Grace Ave, Panama City, Florida 32401
    h3 Hours: Mon-Sun:	11:00 am-4:00 am    
    
