body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map-canvas {
  width: 20%;
  height: 309px;
  float: right;
  clear: both;
}

#menu {
  width: 70%;
}
